<!-- here admin will add new product for selling -->
<div class="modal-wrapper">
    <div class="modal-header">
        <h5 class="modal-title"> Add New Product</h5>
        <button type="button" class="close" (click)="dismiss()"></button>
    </div>
    <hr>
    <div class="modal-body">
        <form class="forms" [formGroup]="addProductForm">
            <input type="text" class="form-input" formControlName="product_name" placeholder="enter product name">
            <input type="text" class="form-input" formControlName="prod_price" placeholder="enter product price">
            <input type="text" class="form-input" formControlName="prod_category" placeholder="enter product category">
            <input type="text" class="form-input" formControlName="prod_brand" placeholder="enter product brand">
            <input type="file" class="form-input" formControlName="prod_img" placeholder="upload product image">
            <button type="submit" class="form-input form-button" (click)="addProduct()">Add
                Product</button>
            <button type="submit" class="form-input form-button">Reset</button>
        </form>
    </div>
</div>