.modal-wrapper {
    padding: 30px;

    .modal-header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h5 {
            font-size: 24px;
            margin: 0;
            padding: 0;
        }

        button {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            opacity: 1;
            text-align: center;
            font-size: 20px;
            font-weight: 400;

            span {
                vertical-align: text-top;
            }
        }
    }

    hr {
        margin: 6px 0;
    }
}